In [1]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
sentences = ['Rashmi likes ice cream likes', 'Rashmi hates chocolate.']

vectorizer = CountVectorizer(min_df=0, lowercase=False)
vectores =vectorizer.fit(sentences)
vectorizer.vocabulary_

{'Rashmi': 0, 'likes': 5, 'ice': 4, 'cream': 2, 'hates': 3, 'chocolate': 1}

In [3]:
vect_A = CountVectorizer()
X_dtm_A = vect_A.fit_transform(sentences)
temp_A=X_dtm_A.todense()
temp_A

matrix([[0, 1, 0, 1, 2, 1],
        [1, 0, 1, 0, 0, 1]], dtype=int64)

In [4]:
print(vect_A.get_feature_names())

['chocolate', 'cream', 'hates', 'ice', 'likes', 'rashmi']

In [5]:
import pandas as pd

counts = pd.DataFrame(X_dtm_A.toarray(),
                      columns=vectorizer.get_feature_names())
counts

   Rashmi  chocolate  cream  hates  ice  likes
0       0          1      0      1    2      1
1       1          0      1      0    0      1

In [6]:
counts.T.sort_values(by=0, ascending=False).head(10)

           0  1
ice        2  0
chocolate  1  0
hates      1  0
likes      1  1
Rashmi     0  1
cream      0  1

In [14]:
import requests

df = pd.DataFrame([
    { 'name': 'Pride and Prejudice', 'url': 'http://www.gutenberg.org/cache/epub/42671/pg42671.txt' },
    { 'name': 'Frankenstein', 'url': 'https://www.gutenberg.org/files/84/84-0.txt' },
    { 'name': 'Dr. Jekyll and Mr. Hyde', 'url': 'https://www.gutenberg.org/files/43/43-0.txt' },
    { 'name': 'Great Expectations', 'url': 'https://www.gutenberg.org/files/1400/1400-0.txt' },
])

df['content'] = df.url.apply(lambda url: requests.get(url).text)

df

,name,url,content
0,Pride and Prejudice,http://www.gutenberg.org/cache/epub/42671/pg42...,"﻿The Project Gutenberg eBook, Pride and Prejud..."
1,Frankenstein,https://www.gutenberg.org/files/84/84-0.txt,ï»¿The Project Gutenberg eBook of Frankenstein...
2,Dr. Jekyll and Mr. Hyde,https://www.gutenberg.org/files/43/43-0.txt,ï»¿The Project Gutenberg eBook of The Strange ...
3,Great Expectations,https://www.gutenberg.org/files/1400/1400-0.txt,ï»¿The Project Gutenberg eBook of Great Expect...

In [15]:
vectorizer = CountVectorizer(stop_words=['the'])
#vectorizer = TfidfVectorizer(stop_words=['the'])

matrix = vectorizer.fit_transform(df.content)
counts = pd.DataFrame(matrix.toarray(),
                  index=df.name,
                  columns=vectorizer.get_feature_names())

counts.head()

,000,10,10_th,11,11th,12,12th,13,13th,14,...,youth,youthful,youthfulness,youths,youthâ,youâ,zeal,zealous,zest,zip
name,,,,,,,,,,,,,,,,,,,,,
Pride and Prejudice,1,0,0,0,0,0,0,0,0,0,...,9,0,0,1,0,0,0,0,0,3
Frankenstein,1,2,0,2,2,2,2,3,1,2,...,21,3,0,0,0,1,4,0,0,1
Dr. Jekyll and Mr. Hyde,1,0,1,0,0,0,1,0,0,0,...,2,0,0,0,0,1,0,0,0,1
Great Expectations,1,0,0,0,0,0,0,0,0,0,...,8,2,1,0,1,129,2,2,1,0

In [16]:
sums = counts.select_dtypes(pd.np.number).sum().rename('total')
counts.loc['Total'] = sums
counts

<ipython-input-16-c9aa99b8dca7>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  sums = counts.select_dtypes(pd.np.number).sum().rename('total')

,000,10,10_th,11,11th,12,12th,13,13th,14,...,youth,youthful,youthfulness,youths,youthâ,youâ,zeal,zealous,zest,zip
name,,,,,,,,,,,,,,,,,,,,,
Pride and Prejudice,1,0,0,0,0,0,0,0,0,0,...,9,0,0,1,0,0,0,0,0,3
Frankenstein,1,2,0,2,2,2,2,3,1,2,...,21,3,0,0,0,1,4,0,0,1
Dr. Jekyll and Mr. Hyde,1,0,1,0,0,0,1,0,0,0,...,2,0,0,0,0,1,0,0,0,1
Great Expectations,1,0,0,0,0,0,0,0,0,0,...,8,2,1,0,1,129,2,2,1,0
Total,4,2,1,2,2,2,3,3,1,2,...,40,5,1,1,1,131,6,2,1,5

In [ ]:
counts.T.sort_values(by='Great Expectations', ascending=False).head(10)

In [17]:
counts.T.sort_values(by='Total', ascending=False).head(10)

name,Pride and Prejudice,Frankenstein,Dr. Jekyll and Mr. Hyde,Great Expectations,Total
and,3662,3044,1042,7158,14906
to,4242,2171,726,5234,12373
of,3749,2765,1068,4557,12139
in,1941,1189,485,3087,6702
was,1846,1023,471,2819,6159
that,1566,1032,384,2991,5973
it,1549,561,365,2678,5153
my,704,1776,308,2060,4848
you,1395,646,311,2220,4572
he,1328,609,381,2199,4517

In [48]:
def loadFile(file):
    with open(file, encoding='utf8') as f:
        return f.read()

In [154]:
df = pd.DataFrame([
    { 'name': 'opemer', 'path': 'C:/Users/geibe/Downloads/BorrarLuego/OPEMER.sql.txt'}
    
])

df['content'] = df.path.apply(lambda path: loadFile(path))

df.content

0    USE [master]\nGO\n/****** Object:  Database [O...
Name: content, dtype: object

In [227]:
vectorizer = CountVectorizer(token_pattern=r'\b[^\d\W]+\b',
    stop_words=[ 'fecha', 'quoted_identifier', 'ansi_nulls', 'c', 'a','t', 'i','el', 'no', 'isnull', 'e', 'la','declare', 'en','que', 'b', 'int', 'if', 'add', 'char', 'procedure', 'else', 'insert', 'update', 'delete', 'check',
                'datetime','key', 'into', 'y', 'asc', 'left', 'in', 'for', 'nocount', 'rtrim', 'dd', 'n', 'is', 'd', 'pr', 'm',
                'm','convert', 'author', 'by', 'bit', 'foreign', 'es', 'clustered','s', 'sum', 'los', 'pdc', 'atlantida', 'the',
                'money', 'or', 'g', 'role', 'user', 'result', 'las', 'to', 'member', 'datediff', 'entity', 'un', 'getdate',
                'para', 'storedprocedure', 'pad_index', 'statistics_norecompute', 'description', 'un', 'da', 'por', 'si', 'con','max',
                'da', 'del', 'dateadd', 'allow_row_locks', 'allow_page_locks', 'values', 'references', 'ignore_dup_key', 'max',
                'leivaaa','dc','una', 'ltrim', 'float', 'group', 'o', 'error', 'numpanes','tran','here', 'try', 'al', 'lo', 'extra',
                'order', 'xml_evento', 'h', 'fk_catalogos', 'added', 'raiserror', 'sets', 'replace', 'prevent', 'catch', 'cp_sac', 'f','mensajeerror', 'dat_cierres', 
                'cl', 'configuration', 'paneconfiguration', 'gost', 'sel','descripciÃ³n', 'pues', 'tc_t', 'interfering', 'co_bitacora_carga',
                'nu_proceso_carga', 'co_estado', 'actualiza', 'mercado', 'catalogos', 'co_valor','retorno', 'actualizar', 'r', 'secundario', 'union', 'ya', 'elemento',
                'resultvar', 'description', 'descripción', 'parameters','collate', 'dce', 'day', 'total', 'p', 'evento', 'drop_existing', 'generar',
                'function', 'online', 'sort_in_tempdb', 'distinct', 'cdc', 'x', 'tc', 'obtiene', 'retorna', 'xml', 'login', 'identity', 'debe', 'co_bitacora', 'fe_evento', 
                'rollback', 'nonclustered', 'count', 'cast', 'tipo', 'co_usuario', 'datepart', 'bnv', 'valor', 'exec', 'pudo', 'function', 'días',
                'descr_evento', 'detalle_evento', 'p', 'stored', 'datos', 'im', 'month','return', 'de_significado', 'index', 'statements',                
                'inner', 'off', 'inner', 'script', 'object', 'numeric', '2022', 'nolock', 'primary', 'pm', 'se', 'cp', '12', 'de', 'case', 'constraint', 'alter',
                'de', 'date', 'opemer_bd','with', 'then', 'when', 'begin', 'not', 'join', 'table', 'create', 'select', 'on', 'and', 'null', 'as', 'go', 'dbo', 'set', 'end', 'varchar', 'from', 'where',
                'ajuste', 'dcs', 'fe_inicio', 'co_evento', 'consecutivo', 'nu_proceso', 'decimal', 'tabla', 'q', 'cantidad', 'dao',                
                'de_referencia', 'co_tipo', 'como', 'dimex','default_schema',
                'aro_bd', 'sip_bd', 'alarmas_bd',
                    ])
#vectorizer = TfidfVectorizer(stop_words=['the'])

matrix = vectorizer.fit_transform(df.content)
counts = pd.DataFrame(matrix.toarray(),
                  index=df.name,
                  columns=vectorizer.get_feature_names())

In [228]:
sums = counts.select_dtypes(pd.np.number).sum().rename('total')
counts.loc['Total'] = sums

counts.T.sort_values(by='Total', ascending=False).head(100).to_csv("results.csv")

<ipython-input-228-692911f02152>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  sums = counts.select_dtypes(pd.np.number).sum().rename('total')